:root {
    --main-color: #D1D1D3;
    --secondary-color: #5D5A6B;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Verdana', sans-serif;
}

.brand,
.model span {
    font-family: 'Michroma', sans-serif;
}

.brand {
    font-size: 16px;
    margin: 0 0 0 10px;
}

.calculator__brand {
    margin: 0 8px;
}

.model {
    font-family: 'Times New Roman';
    font-size: 14px;
    font-style: italic;
    margin: 16px 0 0 6px;
    line-height: 1;
}

.model span {
    font-size: 8px;
    color: #016b4a;
    margin-left: -6px;
    font-weight: bold;
}

.solar-panel {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.casing {
    background-color: var(--secondary-color);
    min-width: 320px;
    max-width: 360px;
    height: 600px;
}

.calculator {
    background-color: var(--main-color);
    height: 98%;
    width: 95%;
}

.calculator__container {
    margin: 5px 10px;
}

.calculator__brand {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.calculator__brand-left-side {
    flex-basis: 130px;
}

.calculator__brand-right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator__brand-right-side p {
    font-size: 8px;
    margin: 4px 0 0 auto;
}

.casing,
.calculator {
    border-radius: 24px;
}

.calculator__screen {
    height: 100px;
    width: 100%;
    resize: none;
    margin: 10px 0;
    background-color:#126349;
}

/* Buttons */

.shift-button,
.alpha-button,
.replay-button,
.mode-setup-button,
.on-button {
    background-color: #7A7498;
    border: none;
    padding: 6px;
    border-radius: 8px;
    color: #fff;
}

.replay-button {
    padding: 18px;
    border-radius: 20px;
    margin-bottom: -20px;
}

/* Helpers */

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}