*,
*::before,
*::after {
    box-sizing: border-box;
}

.calculator {
    background-color: var(--main-color);
    height: 98%;
    width: 95%;
}

.calculator__container {
    margin: 5px 10px;
}

.calculator,
.casing {
    border-radius: 24px;
}

.calculator__brand {
    margin: 0 0 0 10px;
}

.calculator__model {
    margin: 16px 0 0 6px;
}

.calculator__header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 8px;
}

.calculator__header-left-side {
    flex-basis: 130px;
}

.calculator__header-right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator__screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

#insertions,
#results {
    margin: 0;
}

#insertions {
    display: flex;
}

#results {
    align-self: flex-end;
}

.calculator__model span {
    margin-left: -6px;
}

.calculator__button {
    margin-bottom: 8px;
}

.calculator__buttons > .row:first-child,
.calculator__buttons > .row:nth-child(5) {
    margin: 8px 0;
}

.calculator__buttons > .row:nth-child(5) {
    margin-top: 0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}