:root {
    --main-color: #D1D1D3;
    --secondary-color: #5D5A6B;
    --font-family-primary: 'Arial', 'Verdana', sans-serif;
    --font-family-secondary: 'Michroma', sans-serif;
    --font-family-tertiary: 'Times New Roman';
    --green-color: #016b4a;
    --screen-color: #D3E1E4;
    --button-option-color: #7A7498;
    --button-cientific-color: #2E2D34;
    --button-hover-color: #555;
    --solar-panel-color: #4F342D;
}